@use "../mixins/text.scss";
@use "../mixins/media.scss";

.advantage {
  margin: 0;

  @include media.for-mobile {
    &--type-1 {
      padding: 49px 15px 40px 18px;
    }
  }

  @include media.for-tablet {
    &--type-1 {
      padding: 25px 33px 0 33px;
    }
  }

  @include media.for-desktop {
    &--type-1 {
      padding: 52px 85px 51px 85px;
    }
  }

  @include media.for-mobile {
    &--type-2 {
      padding: 38px 18px;
    }
  }

  @include media.for-tablet {
    &--type-2 {
      padding: 22px 33px 0 33px;
      order: 2;
    }
  }

  @include media.for-desktop {
    &--type-2 {
      padding: 53px 88px 51px 86px;
      order: 2;
    }
  }

  @include media.for-mobile {
    &--type-3 {
      padding: 24px 32px 26px 32px;
    }
  }

  @include media.for-tablet {
    &--type-3 {
      padding: 1px 31px 0 33px;
    }
  }

  @include media.for-desktop {
    &--type-3 {
      padding: 23px 33px 0 33px;
    }
  }

  @include media.for-mobile {
    &--type-4 {
      padding: 24px 32px 26px 32px;
    }
  }

  @include media.for-tablet {
    &--type-4 {
      padding: 3px 40px 0 42px;
    }
  }

  @include media.for-desktop {
    &--type-4 {
      padding: 2px 42px 0 42px;
    }
  }

  @include media.for-mobile {
    &--type-5 {
      padding: 24px 33px 31px 33px;
    }
  }

  @include media.for-tablet {
    &--type-5 {
      padding: 5px 30px 0 33px;
    }
  }

  @include media.for-desktop {
    &--type-5 {
      padding: 22px 33px 0 33px;
    }
  }


  .advantage__numbers {
    @include text.text();
    display: block;
    text-align: center;


    &--white {
      color: #ffffff;
    }

    @include media.for-mobile {
      margin: 11px 18px 16px 18px;
    }

    @include media.for-tablet {
      margin: 11px 18px 24px 18px;
    }

    @include media.for-desktop {
      margin: 11px 18px 24px 18px;
    }
  }

  .advantage__description {
    @include text.text();
    text-align: center;
    margin: 0 auto;
    padding: 0;

    &--white {
      color: #ffffff;
    }
  }

  @include media.for-mobile {
    .advantage__description--white {
      width: 284px;
    }

    .advantage__description--black {
      width: 257px;
    }

    .breaker {
      display: none;
    }
  }

  @include media.for-tablet {
    .advantage__description--white {
      width: 195px;
    }

    .advantage__description--white .breaker {
      display: none;
    }

    .advantage__description--black {
      width: 190px;
    }
  }

  @include media.for-desktop {
    .advantage__description--white {
      width: 290px;
      margin: 0;
    }

    .advantage__description--black {
      width: 300px;
    }
  }
}
