@use "../variables.scss";
@use "../mixins/media.scss";

.advantages-profit {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  @include media.for-mobile {
    padding: 23px 18px 30px 18px;
    flex-direction: column;
  }

  @include media.for-tablet-and-desktop {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

@include media.for-mobile {
  .advantages-profit__item + .advantages-profit__item {
    margin-top: 12px;
  }
}

.advantages-profit__item {
  @include media.for-tablet-and-desktop {
    width: 33.3%;
  }
}
