@use "../variables.scss";
@use "../mixins/media.scss";

.button-send {
  display: flex;

  @include media.for-mobile {
    flex-direction: column;
    justify-content: center;
    padding: 40px 0 0;
  }

  @include media.for-tablet-and-desktop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 31px;
  }
}
