@use "../variables.scss";
@use "../mixins/media.scss";

.catalog__idea {
  @include media.for-mobile {
    width: 280px;
    margin: 0 auto;
    padding: 38px 0 36px 0;
  }

  @include media.for-tablet {
    padding: 65px 0 80px 0;
    margin: 0 auto;
  }

  @include media.for-desktop {
    padding: 100px 0 65px 0;
    width: 445px;
    margin: 0 auto;
  }
}

.catalog__photos {
  list-style: none;
  margin: 0;
  padding: 0;

  @include media.for-tablet {
    padding: 0 60px;
  }
}

.catalog__persuasions {
  text-align: center;

  @include media.for-mobile {
    padding: 17px 16px 0 20px;
  }

  @include media.for-tablet {
    padding: 0 60px;
    margin-bottom: 40px;
  }
}

.catalog__persuasions-header {
  @include media.for-tablet {
    width: 445px;
    padding: 56px 0 75px;
    margin: 0 auto;
  }

  @include media.for-desktop {
    width: 445px;
    padding: 61px 0 73px;
    margin: 0 auto;
  }
}
