.checkbox {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: -62px;
  margin: -23px 0;
}

input[type="checkbox"]:checked + .checkbox::before {
  content: "";
  display: block;
  background: url("../../img/tick.svg") no-repeat center;
  width: 22px;
  height: 16px;
}

label:hover .checkbox {
  background: #e5e5e5;
}

label:active .checkbox {
  background: #d5d5d5;

  &::before {
    opacity: 0.3;
  }
}
