@use "../mixins/text.scss";

.copyright__text {
  @include text.text();
  text-decoration: none;
  display: flex;
  align-items: center;
  cursor: pointer;


  &:hover {
    color: #81b3d2;
  }

  &:active {
    color: #b3b3b3;
  }
}

.copyright__text:hover path {
  fill: #81b3d2;
}

.copyright__text:active path {
  fill: #b3b3b3;
}

.copyright__text svg {
  margin-left: 12px;
}

.copyright__text--custom-index-padding {
  transform: translate(-16px, 0);
}
