@use "../variables.scss";
@use "../mixins/media.scss";

.cfeedback__idea {
  @include media.for-mobile {
    padding: 0 7px;
  }


  @media (min-width: variables.$tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 120px;
  }
}

.feedback__form {
  box-sizing: border-box;

  @media (min-width: variables.$tablet-width) {
    padding: 0 60px;
  }

  @media (min-width: variables.$desktop-width) {
    padding: 0 120px;
  }
}
