@use "../mixins/media.scss";

.feedback__idea {
  @include media.for-mobile {
    padding: 37px 7px 28px;
  }

  @include media.for-tablet {
    padding: 64px 60px 102px;
  }

  @include media.for-desktop {
    padding: 113px 120px 68px;
  }
}

.feedback__idea .info__description {
  @include media.for-mobile {
    margin-top: 23px;
  }
  @include media.for-tablet {
    margin-top: 20px;
    line-height: 24px;
  }
  @include media.for-desktop {
    margin-top: 33px;
  }
}

.feedback__form {
  box-sizing: border-box;

  @include media.for-mobile {
    margin-bottom: -16px;
  }

  @include media.for-tablet {
    padding: 0 60px;
    margin-bottom: 49px;
  }

  @include media.for-desktop {
    padding: 0 120px;
    margin-bottom: 49px;
  }
}
