@use "../mixins/text.scss";
@use "../mixins/title.scss";

.field {
  position: relative;
  display: block;
  display: flex;
  align-items: center;
}

.field__input {
  @include title.title();
  text-transform: none;
}


.field__label {
  @include text.text();
  color: #333333;

  &--right {
    @include title.title();
    text-transform: none;
    margin-left: 16px;
    cursor: pointer;
  }
}
