@use "../mixins/title.scss";
@use "../variables.scss";

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 64px 20px;
  margin: 0;
  box-sizing: border-box;
}

.fieldset__title {
  @include title.title();
  text-align: center;
}

.fieldset__fields {
  list-style: none;
  margin: 0;
  padding: 0;


  @media (min-width: variables.$tablet-width) {
    display: flex;
  }
}

.fieldset__field {
  margin-bottom: 16px;
  flex-direction: column;
}
