@use "../mixins/text.scss";
@use "../mixins/title.scss";

.field {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.field__label {
  @include text.text();
  color: #333333;

  &--right {
    @include title.title();
    text-transform: none;
    cursor: pointer;
    align-self: center;
    position: relative;
    margin: 10px 0 10px 62px;
  }

  &--top {
    margin-left: 16px;
  }
}
