@use "../mixins/title";
@use "../mixins/media";

.fieldset {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: none;
  padding: 0;
  margin: 0;

  @include media.for-mobile {
    border-top: 1px solid #e5e5e5;
  }
}

.fieldset__title {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  @include media.for-mobile {
    font-size: 18px;
    line-height: 26px;
    padding-top: 24px;
  }

  @include media.for-tablet {
    font-size: 21px;
    line-height: 26px;
    padding-top: 1px;
  }

  @include media.for-desktop {
    font-size: 21px;
    line-height: 26px;
    padding-top: 1px;
  }
}

.fieldset__title--decorated {
  @include media.for-tablet-and-desktop {
    position: relative;
    padding: 0 calc((100% - 400px) / 2);
    box-sizing: border-box;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      height: 1px;
      background-color: #dbdbdb;
    }

    &::after {
      right: 0;
      left: calc(50% + 201px);
    }

    &::before {
      left: 0;
      right: calc(50% + 201px);
    }
  }
}

.fieldset__fields {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @include media.for-mobile {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  @include media.for-tablet {
    margin-top: 27px;
  }

  @include media.for-desktop {
    margin-top: 27px;
  }
}

.fieldset:nth-child(1) .fieldset__fields {
  @include media.for-tablet {
    padding-right: 44px;
  }

  @include media.for-desktop {
    padding-right: 64px;
  }
}

.fieldset:nth-child(2) .fieldset__fields {
  @include media.for-mobile {
    padding-bottom: 34px;
  }

  @include media.for-tablet {
    padding-left: 44px;
  }

  @include media.for-desktop {
    padding-left: 64px;
  }
}

.fieldset:nth-child(3) .fieldset__fields {
  @include media.for-mobile {
    padding-bottom: 24px;
  }
}

.fieldset:nth-child(4) .fieldset__fields {
  @include media.for-mobile {
    padding-bottom: 24px;
  }
}

.fieldset__fields--horizontal {
  @include media.for-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @include media.for-desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    // padding-left: 17px;
    // padding-right: 17px;
  }
}

.fieldset__fields--radio {
  @include media.for-tablet {
    width: 576px;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
  }

  @include media.for-desktop {
    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.fieldset__fields--checkboxes {
  @include media.for-tablet {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    grid-row-gap: 16px;
    grid-column-gap: 32px;
  }

  @include media.for-desktop {
    padding-top: 33px;
    padding-bottom: 33px;
    padding-left: 13px;
    padding-right: 13px;
  }
}

.fieldset__fields--vertical {
  @include media.for-tablet-and-desktop {
    padding-bottom: 15px;
  }
}

.fieldset__fields--vertical-narrow {
  @include media.for-desktop {
    padding-left: 96px;
    padding-right: 96px;
  }
}

.fieldset__fields--horizontal .fieldset__field + .fieldset__field {
  @include media.for-mobile {
    margin-top: 16px;
  }
}

.fieldset__fields--vertical .fieldset__field + .fieldset__field {
  margin-top: 16px;
}
