@use "../mixins/heading.scss";
@use "../variables.scss";
@use "../mixins/media.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media.for-mobile {
    justify-content: center;
  }

  @include media.for-tablet {
    justify-content: space-between;
    flex-direction: row;
    padding-left: 61px;
    padding-right: 60px;
    padding-top: 36px;
    padding-bottom: 36px;
  }

  @include media.for-desktop {
    justify-content: space-between;
    flex-direction: row;
    padding-left: 119px;
    padding-right: 120px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.footer__hashtag {
  @include heading.heading();
  margin: 0;
  padding: 0;

  @include media.for-mobile {
    margin-bottom: 31px;
  }
}

.footer__social-links {
  @include media.for-mobile {
    margin-bottom: 40px;
    margin-top: 0;
  }

  @include media.for-tablet-and-desktop {
    margin: 0;
    margin-left: -7px;
  }
}
