@use "../mixins/media";
@use "../mixins/text";

.form {
  display: grid;

  @include media.for-tablet-and-desktop {
    padding-bottom: 49px;
  }
  @include media.for-tablet {
    grid-template-columns: 50% 50%;
    grid-row-gap: 48px;
  }
  @include media.for-desktop {
    grid-template-columns: 51.5% 48.5%;
    grid-row-gap: 56px;
  }
}

.form__fieldset {
  display: flex;
}

.form__fieldset:nth-child(n+3) {
  @include media.for-tablet-and-desktop {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.form__fieldset:nth-child(5) {
  @include media.for-tablet {
    margin-top: -6px;
  }
}

.form__note {
  @include text.text();

  margin: 0;

  @include media.for-mobile {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    padding-top: 2px;
  }
  @include media.for-tablet-and-desktop {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
  }
}
