@use "../mixins/title.scss";
@use "../mixins/text.scss";
@use "../variables.scss";

.info-tile {
  &--blue {
    background-color: #81b3d2;
  }

  &--grey {
    background-color: #eeeeee;
  }

  @media (min-width: variables.$tablet-width) {
    min-height: 331px;
    width: 33.3%;
    flex-shrink: 0;
    box-sizing: border-box;
  }
}

.info-tile__title {
  @include title.title();
  text-align: center;

  &--white {
    color: #ffffff;
  }

  &--left {
    text-align: left;
  }
}


.info-tile__text {
  @include text.text();
  text-align: center;

  &--left {
    text-align: left;
  }
}
