@use "../mixins/title.scss";
@use "../mixins/text.scss";
@use "../mixins/heading.scss";
@use "../mixins/media.scss";
@use "../variables.scss";

.info {
  padding: 34px 18px 38px 18px;
  position: relative;

  @include media.for-mobile {
    &--interested {
      padding-top: 38px;
    }
  }

  @include media.for-mobile {
    &--decorate-bottom::after {
      content: "";
      background: url("../img/divider-buttom.svg") top center no-repeat;
      background-size: contain;
      display: block;
      position: absolute;
      width: 100%;
      height: 37px;
      left: 50%;
      bottom: -37px;
      margin: 0 -50%;
      z-index: 1;
    }
  }

  @include media.for-mobile {
    &--interested {
      padding: 43px 18px 49px 18px;
    }
  }

  @include media.for-tablet {
    &--sedona {
      padding: 47px 18px 55px 18px;
    }

    &--interested {
      padding: 61px 16px 58px 18px;
    }
  }

  @include media.for-desktop {
    &--sedona {
      padding: 59px 21px 43px 18px;
    }

    &--interested {
      padding: 61px 16px 66px 18px;
    }
  }

  // @include media.for-tablet-and-desktop {
  //   max-width: 520px;
  //   margin: auto;
  // }
}

.info__title {
  margin: 0;
  padding: 0;


  @include title.title();
  text-align: center;

  @include media.for-tablet-and-desktop {
    @include title.title-medium();

    &--big {
      @include heading.heading-big();
    }
  }
}

.info--interested .info__title {
  @include media.for-mobile {
    font-size: 21px;
    line-height: 18px;
  }
}

.info__description {
  @include text.text();
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 35px;
}

@include media.for-mobile {
  .info--interested .info__description {
    margin-top: 24px;
  }

  .catalog__idea .info__description {
    margin-top: 25px;
  }

  .catalog__persuasions .info__description {
    margin-top: 27px;
    margin-bottom: 36px;
  }
}

@include media.for-tablet {
  .info--sedona .info__description {
    margin-top: 30px;
  }

  .info--interested .info__description {
    width: 435px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
  }

  .catalog__idea .info__description {
    margin-top: 33px;
  }

  .catalog__persuasions .info__description {
    margin-top: 32px;
    margin-bottom: 14px;
  }
}

@include media.for-desktop {
  .info--sedona .info__description {
    margin-top: 29px;
  }

  .info--interested .info__description {
    width: 435px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 34px;
  }
}

.info__button {
  max-width: 458px;
  margin: 0 auto;
  margin-top: 32px;
}

.info--interested .info__button {
  @include media.for-tablet {
    margin-top: 40px;
  }

  @include media.for-desktop {
    margin-top: 44px;
  }
}

.info__video {
  display: block;

  margin: 0 auto;
}
