@use "sass:math";
@use "../mixins/title.scss";
@use "../variables.scss";
@use "../mixins/media.scss";

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  @include media.for-mobile {
    background-color: #81b3d2;
  }

  @include media.for-tablet-and-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.main-menu__item {
  text-align: center;

  @include media.for-mobile {
    width: 100%;
    box-sizing: border-box;
    position: relative;

    &:last-of-type::after {
      content: "";
      width: 100%;
      min-height: 7px;
      border-bottom: none;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  @include media.for-tablet {
    $logo-offset:153px;

    &:nth-child(4n + 2) {
      margin-right: $logo-offset;
    }

    width: calc(25% - math.div($logo-offset, 4));
  }

  @include media.for-desktop {
    $logo-offset:240px;

    &:nth-child(4n + 2) {
      margin-right: $logo-offset;
    }

    width: calc(25% - math.div($logo-offset, 4));
  }
}


.main-menu__link {
  @include title.title();
  text-decoration: none;
  display: block;

  @include media.for-mobile {
    color: #ffffff;
    padding: 17px 17px 12px;
    background-color: #81b3d2;
    box-shadow: inset 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 2px 0 rgba(255, 255, 255, 0.2);

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      color: hsla(0, 0%, 100%, 0.3);
      background-color: #5496bd;
    }
  }

  @include media.for-tablet-and-desktop {
    font-size: 14px;
    line-height: 21px;
    padding-top: 19px;
    padding-bottom: 17px;

    &--current {
      color: #766357;
    }

    &:hover {
      color: rgba(129, 179, 210, 1);
    }

    &:active {
      color: #b3b3b3;
    }

    &:focus-visible {
      color: #669ec0;
    }
  }
}

.main-menu__item:nth-child(1) .main-menu__link {
  @include media.for-mobile {
    box-shadow: none;
  }
}
