@use "../mixins/media.scss";


.main-nav__close {
  display: none;

  @include media.for-mobile {
    display: block;
    height: 55px;
    width: 61px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    color: #ffffff;
    fill: transparent;

    &:hover use {
      fill: rgba(255, 255, 255, 0.6);
      color: transparent;
    }

    &:active use {
      fill: rgba(255, 255, 255, 0.3);
      color: transparent;
    }
  }
}
