@use "sass:math";
@use "../variables.scss";

.main-header {
  height: 56px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  position: relative;
  background-color: #ffffff;

  @media (max-width: variables.$tablet-width) {
    &--js-disabled {
      height: auto;
    }
  }

  @media (min-width: variables.$desktop-width) {
    max-width: 1200px;
  }
}

.main-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -1 * math.div(variables.$logo-width, 2);
}

.main-header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;

  &--opened {
    display: block;
  }

  @media (min-width: variables.$tablet-width) {
    display: block;
  }
}

@media (max-width: variables.$tablet-width) {
  .main-header--js-disabled .main-header__nav {
    position: static;
    margin-top: 56px;
    display: block;
  }
}

.main-header__toggle {
  border: none;
  width: 23px;
  height: 22px;
  padding: 0;
  top: 17px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;

  &:hover path {
    fill: rgba(129, 179, 210, 0.6);
  }

  &:active path {
    fill: rgba(129, 179, 210, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}

.main-header--js-disabled .main-header__toggle {
  display: none;
}
