@use "../mixins/title.scss";

.main-menu {
  list-style: none;
  background-color: #81b3d2;
  margin: 0;
  padding: 0;
}

.main-menu__link {
  @include title.title();
  color: #ffffff;
  text-decoration: none;
}

.main-menu__item {
  text-align: center;
}
