@use "../mixins/media.scss";

.main-footer {
  @include media.for-mobile {
    padding: 29px 23px;
  }

  @include media.for-tablet {
    padding-top: 20px;
  }

  @include media.for-desktop {
    padding-top: 30px;
  }
}
