@use "../variables.scss";
@use "../mixins/media.scss";

.main-container__title {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 461px;
}

.main-container__img {
  background: url("../img/background-mobile.jpg") center no-repeat;
  background-size: cover;
  background-color: #000000;
  padding: 90px 19px 85px 19px;
  position: relative;
  overflow: hidden;

  @media (min-resolution: 2dppx) {
    background: url("../img/background-mobile@2x.jpg") center no-repeat;
    background-size: cover;
    background-color: #000000;
  }

  &::after {
    content: "";
    background: url("../img/divider.svg") no-repeat;
    display: block;
    position: absolute;
    width: 1200px;
    height: 57px;
    left: 50%;
    bottom: 0;
    margin: 0 -600px;
  }


  @include media.for-tablet-and-desktop {
    background: url("../img/background.jpg") center bottom no-repeat;
    background-size: cover;
    background-color: #000000;
    padding: 77px 19px 91px 19px;

    @media (min-resolution: 2dppx) {
      background: url("../img/background-desktop@2x.jpg") center bottom no-repeat;
      background-size: cover;
      background-color: #000000;
    }
  }
}
