.main-container__title {
  margin: 0 auto;
  display: block;
}

.main-container__img {
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
  background-color: #000000;
  padding: 90px 19px 85px 19px;
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    background: url("../img/divider.svg") no-repeat;
    display: block;
    position: absolute;
    width: 1200px;
    height: 57px;
    left: 50%;
    bottom: 0;
    margin: 0 -600px;
  }
}
