@use "../variables.scss";


.main-nav__close {
  height: 55px;
  width: 61px;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;

  &:hover path {
    fill: rgba(255, 255, 255, 0.6);
  }

  &:active path {
    fill: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: variables.$tablet-width) {
    display: none;
  }
}
