@use "../mixins/text.scss";
@use "../mixins/title.scss";

.modal__description {
  @include text.text();
  margin: 0;
  padding: 0;
}

.modal__title {
  @include title.title();
  margin: 0;
  padding: 0;

  // @media (min-width: variables.$tablet-width) {
  //   @include title.title-big();
  // }

  // .modal__button {
  //   // border: none;
  // }
}
