@use "../variables.scss";

.page {
  height: 100%;
  background-color: #e7e5e5;
}

.page__body {
  padding: 0;
  margin: 0;
}

.page__center {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
