@use "../mixins/text.scss";
@use "../variables.scss";
@use "../mixins/media.scss";

.photo-item {
  padding: 24px 20px 25px 20px;
  box-sizing: border-box;
  position: relative;

  @include media.for-tablet {
    padding: 0;
  }

  @include media.for-desktop {
    padding: 0;
  }
}

.photo-item__info {
  @include media.for-mobile {
    margin-top: 17px;
  }

  @include media.for-tablet {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 23px 20px 15px;


    &:nth-child(2n+3) {
      background-color: #eaeaea;
    }
  }

  @include media.for-desktop {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 22px 21px 15px 21px;
  }
}

.photo-item__description {
  @include media.for-tablet {
  }
}


.photo-item__title {
  @include text.text();
  font-weight: 700;
  margin: 0;

  @include media.for-desktop {
    color: #ffffff;
  }
}

.photo-item__like {
  @include media.for-mobile {
    margin-top: 11px;
    display: flex;
    gap: 15px;
  }

  @include media.for-tablet {
    padding-top: 6px;
    gap: 9px;
    display: flex;
  }

  @include media.for-desktop {
    padding-top: 6px;
    gap: 9px;
    display: flex;
  }
}

.photo-item__like-text {
  @include text.text();
  font-weight: 700;
  margin: 0;

  @include media.for-mobile {
    padding-top: 4px;
  }

  @include media.for-tablet {
    padding-top: 4px;
  }

  @include media.for-desktop {
    color: #ffffff;
  }
}


.photo-item__likes-icon {
  @include media.for-mobile {
    opacity: 0.3;
  }

  @include media.for-tablet {
    flex-shrink: 0;
    opacity: 0.3;
  }

  @include media.for-desktop {
    fill: #ffffff;
  }
}

.photo-item__autor {
  @include text.text();
  text-transform: none;
  margin: 0;

  @include media.for-desktop {
    color: #ffffff;
  }
}

.photo-item__photo {
  width: 100%;
  display: block;

  @include media.for-desktop {
    width: auto;
    margin: 0 auto;
  }
}
