@use "../mixins/text.scss";
@use "../variables.scss";
@use "../mixins/media.scss";

.photo-item {
  padding: 24px 20px 25px 20px;
  box-sizing: border-box;
  position: relative;

  @include media.for-tablet {
    padding: 0;
  }

  @include media.for-desktop {
    padding: 0;
  }
}

.photo-item__info {
  box-sizing: border-box;

  @include media.for-mobile {
    margin-top: 15px;
  }

  @include media.for-tablet {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 23px 20px 15px;
  }

  @include media.for-desktop {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 17px 20px 16px 25px;
  }
}

@include media.for-tablet {
  .photo-item:nth-child(2n+3) .photo-item__info {
    background-color: #eaeaea;
  }
}


.photo-item__title {
  @include text.text();
  font-weight: 700;
  margin: 0;

  @include media.for-desktop {
    color: #ffffff;
    line-height: 23px;
    margin-bottom: 3px;
  }
}

.photo-item:nth-child(1) .photo-item__info {
  @include media.for-desktop {
    padding-left: 21px;
  }
}

.photo-item:nth-child(1) .photo-item__title {
  @include media.for-desktop {
    transform: translate(0, 4px);
  }
}

.photo-item:nth-child(1) .photo-item__autor {
  @include media.for-desktop {
    transform: translate(0, 1px);
  }
}

.photo-item__like {
  @include media.for-mobile {
    margin-top: 11px;
    display: flex;
    gap: 14px;
    color: #000000;
  }

  @include media.for-tablet {
    padding-top: 6px;
    gap: 9px;
    display: flex;
  }

  @include media.for-desktop {
    padding-top: 11px;
    gap: 9px;
    display: flex;
  }
}

.photo-item__like-text {
  @include text.text();
  font-weight: 700;
  margin: 0;

  @include media.for-mobile {
    padding-top: 5px;
  }

  @include media.for-tablet {
    padding-top: 4px;
  }

  @include media.for-desktop {
    padding-top: 4px;
    color: #ffffff;
  }
}


.photo-item__likes-icon {
  cursor: pointer;

  @include media.for-mobile {
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }
  }

  @include media.for-tablet {
    flex-shrink: 0;
    opacity: 0.3;

    &:hover {
      opacity: 0.6;
    }
  }

  @include media.for-desktop {
    fill: #ffffff;

    &:hover {
      opacity: 0.6;
    }
  }
}

.photo-item__autor {
  @include text.text();
  text-transform: none;
  margin: 0;

  @include media.for-mobile {
    margin-top: 1px;
  }

  @include media.for-desktop {
    color: #ffffff;
  }
}

.photo-item__photo {
  width: 100%;
  display: block;

  @include media.for-desktop {
    width: auto;
    margin: 0 auto;
  }
}
