@use "../variables.scss";
@use "../mixins/media.scss";

.photos {
  @media (min-width: variables.$tablet-width) {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr 1fr;
  }

  @include media.for-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.photos .photos__item:nth-child(1) {
  grid-column: 1 / 3;
  grid-row: 1 / 2;

  @include media.for-desktop {
    grid-column: 1 / 4;
  }
}

.photos__item {
  @include media.for-mobile {
    border-top: 1px solid #e5e5e5;

    &:last-child {
      border-bottom: 1px solid #e5e5e5;
    }
  }
}
