@use "../variables.scss";

.present {
  background: url("../img/back-desktop.jpg") center no-repeat;
  background-size: cover;
  background-color: #000000;
  padding-top: 56px;
  position: relative;
  overflow: hidden;
  margin-top: -56px;


  @media (min-width: variables.$tablet-width) {
    background: url("../img/background.jpg") center no-repeat;
    background-size: auto;
    background-position: center bottom;
  }

  &::after {
    content: "";
    background: url("../img/divider.svg") no-repeat;
    display: block;
    position: absolute;
    width: 1200px;
    height: 57px;
    left: 50%;
    bottom: 0;
    margin: 0 -600px;
  }
}

.present__logo {
  margin: 0 auto;
  display: block;
  padding: 52px 0 67px 0;

  @media (min-width: variables.$tablet-width) {
    width: 457px;
    height: 78px;
    padding: 95px 0 117px 0;
  }
}
