.social-item {
  display: block;
  height: 48px;
  width: 48px;
  background-color: #81b3d2;

  &:focus {
    outline: none;
    background-color: #669ec0;
  }

  &:hover {
    background-color: #669ec0;
    cursor: pointer;
  }

  &:active {
    background-color: #5496bd;
  }

  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
    pointer-events: none;
  }
}

.social-item__link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.social-item__link:active .social-item__icon {
  opacity: 0.3;
}
