.video {
  position: relative;
  font-size: 0;
}

.video__preview {
  max-width: 100%;
}

.video__button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 54px;
  margin: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.7;

  &:hover {
    opacity: 1;
  }
}
