@mixin heading() {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

@mixin heading-big() {
  @include heading();
  font-size: 30px;
}
