@mixin title() {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

@mixin title-big() {
  @include title();
  font-size: 21px;
}
