.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/*device-width*/
.main-header {
  height: 56px;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  position: relative;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .main-header--js-disabled {
    height: auto;
  }
}
@media (min-width: 1200px) {
  .main-header {
    max-width: 1200px;
  }
}

.main-header__logo {
  position: absolute;
  left: 50%;
  margin-left: -92.5px;
}

.main-header__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}
.main-header__nav--opened {
  display: block;
}
@media (min-width: 768px) {
  .main-header__nav {
    display: block;
  }
}

@media (max-width: 768px) {
  .main-header--js-disabled .main-header__nav {
    position: static;
    margin-top: 56px;
    display: block;
  }
}
.main-header__toggle {
  border: none;
  width: 23px;
  height: 22px;
  padding: 0;
  top: 17px;
  right: 20px;
  position: absolute;
  cursor: pointer;
  background-color: transparent;
}
.main-header__toggle:hover path {
  fill: rgba(129, 179, 210, 0.6);
}
.main-header__toggle:active path {
  fill: rgba(129, 179, 210, 0.3);
}
@media (min-width: 768px) {
  .main-header__toggle {
    display: none;
  }
}

.main-header--js-disabled .main-header__toggle {
  display: none;
}

.page {
  height: 100%;
  background-color: #e7e5e5;
}

.page__body {
  padding: 0;
  margin: 0;
}

.page__center {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1200px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.main-nav__close {
  height: 55px;
  width: 61px;
  background: url("../../img/nav-closed.svg") center no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-nav__close {
    display: none;
  }
}

.main-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .main-menu {
    background-color: #81b3d2;
  }
}
@media (min-width: 768px) {
  .main-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.main-menu__link {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
}
@media (max-width: 768px) {
  .main-menu__link {
    color: #ffffff;
    padding: 17px 17px 12px;
  }
}
@media (min-width: 768px) {
  .main-menu__link {
    font-size: 14px;
    line-height: 21px;
    padding-top: 18px;
    padding-bottom: 17px;
  }
}

.main-menu__item {
  text-align: center;
}
@media (max-width: 768px) {
  .main-menu__item {
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(1, 1, 1, 0.2);
    position: relative;
  }
  .main-menu__item:last-child {
    border-bottom: 0;
  }
  .main-menu__item:not(:last-child) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }
  .main-menu__item:last-of-type::after {
    content: "";
    width: 100%;
    min-height: 7px;
    border-bottom: none;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
    position: absolute;
    left: 0;
    bottom: 0;
  }
}
@media (min-width: 768px) {
  .main-menu__item {
    width: calc(25% - 46.25px);
  }
  .main-menu__item:nth-child(4n+2) {
    margin-right: 185px;
  }
}

.main-container__title {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 461px;
  height: 350px;
}
@media (max-width: 768px) {
  .main-container__title {
    max-height: 214px;
  }
}

.main-container__img {
  background: url("../img/background-mobile.jpg") center no-repeat;
  background-size: cover;
  background-color: #000000;
  padding: 90px 19px 85px 19px;
  position: relative;
  overflow: hidden;
}
.main-container__img::after {
  content: "";
  background: url("../img/divider.svg") no-repeat;
  display: block;
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 50%;
  bottom: 0;
  margin: 0 -600px;
}
@media (min-width: 768px) {
  .main-container__img {
    background: url("../img/background.jpg") center bottom no-repeat;
  }
}

.advantages__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  width: 100%;
  box-sizing: border-box;
}

.advantages__img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .advantages__img {
    width: 66.66%;
  }
}

@media (min-width: 768px) {
  .advantages__group {
    display: flex;
    width: 100%;
  }
}

.info {
  padding: 32px 18px;
  position: relative;
}
@media (max-width: 768px) {
  .info--decorate-bottom::after {
    content: "";
    background: url("../img/divider-buttom.svg") top center no-repeat;
    background-size: contain;
    display: block;
    position: absolute;
    width: 100%;
    height: 37px;
    left: 50%;
    bottom: -37px;
    margin: 0 -50%;
    z-index: 1;
  }
}

.info__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.info__title--big {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.info__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  margin-top: 35px;
}

.info__button {
  max-width: 458px;
  margin: 0 auto;
}

.description {
  display: block;
}

.advantage--type-1 {
  padding: 54px 18px 40px 18px;
}
.advantage--type-2 {
  padding: 37px 18px;
}
.advantage--type-3 {
  padding: 24px 18px 26px 18px;
}
.advantage--type-4 {
  padding: 24px 18px 28px 18px;
}

.advantage__numbers {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
.advantage__numbers--white {
  color: #ffffff;
}

.advantage__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.advantage__description--white {
  color: #ffffff;
}

.info-tile--blue {
  background-color: #81b3d2;
}
.info-tile--grey {
  background-color: #eeeeee;
}
@media (min-width: 768px) {
  .info-tile {
    min-height: 331px;
    width: 33.3%;
    flex-shrink: 0;
    box-sizing: border-box;
  }
}

.info-tile__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.info-tile__title--white {
  color: #ffffff;
}
.info-tile__title--left {
  text-align: left;
}

.info-tile__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}
.info-tile__text--left {
  text-align: left;
}

.advantages-profit {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .advantages-profit {
    padding: 23px 18px 46px 18px;
  }
}
@media (min-width: 768px) {
  .advantages-profit {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .advantages-profit__item {
    width: 33.3%;
    height: 331px;
  }
}

.button {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 16px 20px;
}
.button--small {
  font-size: 18px;
}

.map iframe {
  display: block;
  width: 100%;
  height: 350px;
  margin: 0;
  border: none;
}

.main-footer {
  padding: 29px 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__hashtag {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.social-list {
  display: block;
}

.social-item {
  display: block;
}

.copyright__text {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .catalog__idea {
    padding: 0 60px;
  }
}

.catalog__photos {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .catalog__photos {
    padding: 0 60px;
  }
}

.catalog__persuasions {
  padding: 17px 20px 0 20px;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .catalog__persuasions {
    padding: 0 60px;
  }
}

.present {
  background: url("../img/background.jpg") center no-repeat;
  background-size: cover;
  background-color: #000000;
  padding-top: 56px;
  position: relative;
  overflow: hidden;
  margin-top: -56px;
}
.present::after {
  content: "";
  background: url("../img/divider.svg") no-repeat;
  display: block;
  position: absolute;
  width: 1200px;
  height: 57px;
  left: 50%;
  bottom: 0;
  margin: 0 -600px;
}

.present__logo {
  margin: 0 auto;
  display: block;
  padding: 52px 0 67px 0;
}
@media (min-width: 768px) {
  .present__logo {
    width: 457px;
    height: 78px;
  }
}

@media (min-width: 768px) {
  .photos {
    display: flex;
    flex-wrap: wrap;
  }
}

.photos__item {
  text-align: center;
}
@media (min-width: 768px) {
  .photos__item {
    width: 50%;
  }
  .photos__item:first-child {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .photos__item {
    width: 33.33%;
  }
  .photos__item:first-child {
    width: 100%;
  }
}

.photo-item {
  padding: 24px 20px 25px 20px;
  box-sizing: border-box;
}

.photo-item__title,
.photo-item__like {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  font-weight: 700;
}

.photo-item__autor {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  text-transform: none;
}

.cfeedback__idea {
  padding: 0 7px;
}
@media (min-width: 768px) {
  .cfeedback__idea {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .cfeedback__idea {
    padding: 0 120px;
  }
}

.feedback__form {
  padding: 0 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .feedback__form {
    padding: 0 60px;
  }
}
@media (min-width: 1200px) {
  .feedback__form {
    padding: 0 120px;
  }
}

@media (min-width: 768px) {
  .form {
    display: flex;
    flex-wrap: wrap;
  }
  .form:nth-child(1), .form:nth-child(2) {
    width: 50%;
  }
  .form:nth-child(n+2) {
    width: 100%;
  }
}

.form__submit {
  border: none;
  margin-top: 56px;
  width: 280px;
}

.form__fieldset {
  border: none;
}
@media (min-width: 768px) {
  .form__fieldset:nth-child(1), .form__fieldset:nth-child(2) {
    width: 50%;
  }
  .form__fieldset:nth-child(n+3) {
    width: 100%;
  }
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 64px 20px;
  margin: 0;
  box-sizing: border-box;
}

.fieldset__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
}

.fieldset__fields {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .fieldset__fields {
    display: flex;
  }
}

.fieldset__field {
  margin-bottom: 16px;
  flex-direction: column;
}

.field {
  position: relative;
  display: flex;
  align-items: center;
}

.field__input {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-transform: none;
}

.field__label {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
  color: #333333;
}
.field__label--right {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-transform: none;
  margin-left: 16px;
  cursor: pointer;
}

.input {
  display: block;
  width: 100%;
  padding: 16px 0 16px 16px;
  background: #f2f2f2;
  border: none;
  max-width: 280px;
}
.input--multiline {
  width: 100%;
  border: none;
  height: 150px;
  background: #f2f2f2;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  text-transform: none;
  padding: 16px 0 16px 16px;
}

.map {
  display: block;
}

.modal__description {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.modal__title {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.modal__button {
  border: none;
}

.button-send {
  padding: 56px 20px 46px 20px;
}

.radio {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type=radio]:checked + .radio::before {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #333333;
  content: "";
  display: block;
}

.checkbox {
  width: 46px;
  height: 46px;
  border-radius: 4px;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input[type=checkbox]:checked + .checkbox::before {
  content: "";
  display: block;
  background: url("../../img/tick.svg") no-repeat center;
  width: 22px;
  height: 16px;
}
/*# sourceMappingURL=style.css.map */